@use "util" as u;
@use "global" as *;

.modal {
	height: 100%;
	padding: $spacing-large;
	margin-block: 0;
	background: linear-gradient(to bottom, $color-quaternary, $color-white);
	border: none;
	&::backdrop {
		background: linear-gradient(to bottom, $color-quaternary, $color-white);
		opacity: 0;
	}
	&[open] {
		animation: slide-up 1000ms forwards, fade-in 1000ms forwards;
		&::backdrop {
			animation: fade-in 500ms forwards;
		}
	}
	&[closing] {
		display: block;
		animation: fade-out 700ms forwards, slide-out 700ms forwards;
		&::backdrop {
			animation: fade-out 500ms forwards;
		}
	}
	> *:not(:last-child) {
		margin-bottom: $spacing-default;
	}
	&__link {
		@include link-base;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__paragraph {
		max-width: u.rem(800);
	}
	&__close-button {
		border: none;
		background: transparent;
		cursor: pointer;
		transition: scale $duration-standard;
		&:active {
			scale: $scale-default;
		}
		svg {
			fill: $color-white;
		}
		rect {
			transition: fill $duration-standard;
		}
		&:hover,
		&:focus {
			rect {
				fill: $color-danger-hover;
			}
		}
	}

	&__video {
		iframe {
			width: 100%;
			max-width: u.rem(1200);
			aspect-ratio: 16/9;
			border-radius: $border-radius-default;
		}
	}
	@media screen and (min-width: 1024px) {
		margin: auto;
		max-height: fit-content;
		border-radius: $border-radius-default;
		&::backdrop {
			background: #00000080;
			backdrop-filter: blur(4px);
		}
		&__video {
			iframe {
				width: calc(100vw - u.rem(60));
			}
		}
	}
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes slide-up {
		0% {
			transform: translateY(u.rem(50));
		}
		100% {
			transform: translateY(0%);
		}
	}
	@keyframes slide-out {
		0% {
			transform: translateY(0%);
		}
		100% {
			transform: translateY(u.rem(50));
		}
	}
}
